.description {
    padding-top: 90px;
    display: grid;
    place-items: center;
    margin: auto 148px;
    gap: 32px;
    max-width: 984px;
}
@media screen and (max-width: 768px){
    .description {
        margin: auto 0;
        
    }
}

@media screen and (max-width: 320px){
    .description {
        padding-top: 50px;
        gap: 16px;
    }
}
   