.btn {
    border: none;
	font: inherit;
	cursor: pointer;
    height: 48px;
    background: #0278FE;
    border-radius: 4px;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    color: #fff;
    padding: 13px 20px;

}