.page {
    font-family: 'inter', Fallback, sans-serif;
    max-width: 1280px;
    margin: auto;

}
@media screen and (max-width: 768px){
    .page {
        max-width: 768px;
    }
}

@media screen and (max-width: 320px){
    .page {
        max-width: 320px;
    }
}
    
