.places__artist-box {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

@media screen and (max-width: 320px){
    .places__artist-box {
        position: relative;
        margin: auto 16px;
    }
}
