.logo {
    width: 100%;
    height: 70px;
    padding-top: 34px;
}


@media screen and (max-width: 320px){
    .logo {
        max-width: 200px;
        padding-top: 20px;
        margin: auto;
    }
}