.cover__info {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: auto;
    align-content: center;
    gap: 32px;
    top: 32%;
}

@media screen and (max-width: 320px){
    .cover__info {
        gap: 16px;
        top: 15%;
    }
}