.description__title {
    font-family: Inter, sans-serif;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    max-width: 793px;
    text-align: center;
    margin: 0;
}

@media screen and (max-width: 768px){
    .description__title {
        max-width: 720px;
    }
}

@media screen and (max-width: 520px){
    .description__title {
        font-size: 60px;
        line-height: 65px;
    }
}

@media screen and (max-width: 320px){
    .description__title {
        font-size: 40px;
        line-height: 44px;
        max-width: 288px;


    }
}