.description__img {
    max-width: 100%;
    width: 984px;
    height: 615px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  margin-top: 32px;
}

@media screen and (max-width: 768px){
  .description__img {
      margin-top: 4px;
  }
}

@media screen and (max-width: 320px){
  .description__img {
      max-height: 200px;
      margin-top: 8px;
  }
}